* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e99ff4;
}
.main {
  max-width: 1280px;
  margin: auto;
  height: 100vh;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: #e99ff4;
}
.imgs {
  width: 90%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgs img {
  max-width: 90%;
  object-fit: cover;
  animation: show 1s ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

.info {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.desc {
  color: black;
  font-size: 1.2rem;
  line-height: 50px;
  text-align: center;
  animation-fill-mode: forwards;
}
label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  background: url(assets/circle.png) 0 0 no-repeat;
  background-size: cover;
}
label:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 10px;
  border-radius: 50%;
  bottom: 1px;
}
input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label:before {
  background: #bb35ae;
}

/* Hover */
label:hover {
  background: url(assets/circle2.png) 0 0 no-repeat;
  background-size: cover;
}
.show {
  opacity: 0;
  animation: show 1s ease;
  text-align: center;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 870px) {
  .info {
    flex-direction: column;
    align-items: center;
  }
  .controls {
    order: 1;
  }
  .desc {
    order: 2;
  }

  label {
    width: 20px;
    height: 20px;
  }
  label:before {
    width: 10px;
    height: 10px;
    left: 5px;
    top: 5px;
  }
}

@media screen and (max-width: 350px) {
  label {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
  label:before {
    width: 10px;
    height: 10px;
    left: 5px;
    top: 5px;
  }
}
